@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-gray text-text-dark font-sans;
    scroll-behavior: smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headings;
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
